<!-- TODO: header в состоянии big большой блок с фоновой картинкой, логотипом, меню и строкой поиска,
			в состоянии small превращается в полосу без фоновой картинки с теми-же элементами,
			если смена состояния будет через анимацию, вообще классно)) -->
<header class="{{ headerState }} jsc-header">
	<a href="http://169.44.58.88/" class="logo"><img src="/image/logo.png"/></a>
	<jsc-search-component></jsc-search-component>
	<nav>
		<ul>
			<li><a href="/#">Home</a></li>
		</ul>
	</nav>
</header>
<div class="container" id="jsc-page"></div>
<!-- TODO: что в футер класть пока не знаю -->
<footer></footer>