<!-- TODO: header в состоянии big большой блок с фоновой картинкой, логотипом, меню и строкой поиска,
			в состоянии small превращается в полосу без фоновой картинки с теми-же элементами,
			если смена состояния будет через анимацию, вообще классно)) -->
<header class="{{ headerState }} jsc-header">
	<div class='background'>
		<div class="background_overlay"></div>
	</div>
	<div class='content'>
		<nav>
			<ul>
				<li><a href="/">home</a></li>
			</ul>
		</nav>
		<div class='logo_wrap'>
			<a href="http://169.44.58.88/" class="logo">
				<img src="./images/logo.png"/>
				<h1>what does the tweet say ?</h1>
			</a>
		</div>
		<jsc-search-component></jsc-search-component>
		<div class ='about'>
			"What does the tweet say?" - A service that enables the analysis of social networking posts.
			Namely, the analysis of the emotional content. And display the results as graphs, to fully assess the public opinion about the situation, or event, or person, or anything else. Today, the service is working on the analysis of messages from the "Twitter", but soon the service will start and for other social networks.
		</div>
	</div>
</header>
<div class="container" id="jsc-page"></div>
<!-- TODO: что в футер класть пока не знаю -->
<footer></footer>